$c-width:150px;
.standard-manage-container{
    padding:25px;
    height: 100%;
    overflow: auto;
    >section{
        margin-bottom: 20px;
        ::v-deep .el-row{
            width: 100%;
            .el-col{

                >div{
                    background-color: #FFF;
                    border: 1px solid #e2e2e2;
                    border-radius: 5px;
                    padding: 15px 20px 30px 20px;
                    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.08);
                    overflow: hidden;
                    position: relative;
                    >h3.title{
                        font-size: 16px;
                        color: #396090;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        position: relative;
                        .more{
                            font-size: 14px;
                            position: absolute;
                            right: 15px;
                            top: 2px;
                            color: #1890ff;
                        }
                        &:after{
                            height: 16px;
                            width: 5px;
                            background-color: #EEE;
                            content: "";
                        }
                    }
                    >ul{
                        overflow: hidden;
                        margin: 0 -10px;
                        >li.col-50{
                            float: left;
                            width: 50%;
                            box-sizing: border-box;
                            padding: 10px;
                            >div{
                                display: flex;
                                position: relative;
                                .content{
                                    background: linear-gradient(to right, #7d90d8 0%, #bbefd2 100%);
                                    padding: 10px;
                                    width: 85%;
                                    border-radius: 10px;
                                    label{
                                        font-weight: normal;
                                        font-size: 14px;
                                        width: 100%;
                                        display: inline-block;
                                        color: #FFF;
                                    }
                                    p{
                                        font-size:12px;
                                        padding: 5px 0;
                                        margin:0;
                                        color: #324fa0;
                                    }
                                    //margin-bottom: 10px;
                                }
                                .number{
                                    font-size: 1.5em;
                                    width: 60px;
                                    height: 60px;
                                    border: 5px solid #FFF;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    color: #2c3f54;
                                    background-color: #dcf5e9;
                                    position: absolute;
                                    right: 5px;
                                    top:0;
                                    text-shadow: 2px 2px 2px #FFF;
                                }
                            }
                        }
                        >li.col-25{
                            float: left;
                            width: 25%;
                            box-sizing: border-box;
                            padding: 10px;
                            >div{
                                border-radius: 5px;
                                height: 138px;
                                background: linear-gradient(to bottom, #ade3ff 0%,#ffffff 100%);
                                cursor: pointer;
                                position: relative;
                                border: 1px solid #f5f5f5;
                                transition: all .3s;
                                &:hover{
                                    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.08);
                                    transform: scale(1.05);
                                }
                                .title{
                                    height: 30px;
                                    background-color: #dbf3ff;
                                    line-height: 30px;
                                    text-align: center;
                                    border-top-left-radius: 5px;
                                    border-top-right-radius: 5px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                                .number{
                                    position: absolute;
                                    top: 40px;
                                    left: calc(50% - 25px);
                                    width: 50px;
                                    height: 50px;
                                    border: 3px solid rgba(255,255,255,.6);
                                    border-radius: 50%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 20px;
                                    background-color: rgba(255,255,255,.3);
                                    text-shadow: 2px 2px 2px #FFF;
                                    color: #4c91b5;
                                    &.active{
                                        background-color: #bba8ff;
                                        border-color: #d2c9ff;
                                        color: #FFF;
                                        text-shadow: none;
                                        font-size: 2em;
                                    }
                                }
                            }
                        }
                        >li.col-25-2{
                            float: left;
                            width: 25%;
                            box-sizing: border-box;
                            padding: 10px;
                            >div{
                                height: 138px;
                                cursor: pointer;
                                position: relative;
                                transition: all .3s;
                                .title{
                                    position: relative;
                                    top:1px;
                                    border-radius: 2px;
                                    height: 30px;
                                    background-color: #F2F2F2;
                                    line-height: 30px;
                                    text-align: center;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                                .number{
                                    border-radius: 2px;
                                    position: relative;
                                    top:15px;
                                    height: 92px;
                                    background-color: #F2F2F2;
                                    line-height: 30px;
                                    text-align: center;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    color: #07B2F1;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 20px;

                                }
                            }
                        }
                        >li.col-16{
                            float: left;
                            width: 16.6666%;
                            box-sizing: border-box;
                            padding: 10px;
                            >div{
                                border: 1px solid #d0e4ef;
                                padding: 10px;
                                text-align: center;
                                border-radius: 3px;
                                background: linear-gradient(to top, #d3f9ed 0%, #ffffff 100%);
                                font-size: 12px;
                                height: 95px;
                                color: #5f6d79;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                transition: all .3s;
                                cursor: pointer;
                                i{
                                    font-size: 1.5em;
                                }
                                &:hover{
                                    transform: scale(1.05);
                                    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.1);
                                }

                            }
                            &.disabled{
                                cursor: not-allowed;
                                >div{
                                    background-color: #EEE;
                                    color: #CCC;
                                    border-color: #e6e6e6;
                                    cursor: default;
                                }
                            }
                        }
                        &.lists{
                            //margin: 0;
                            >li{
                                width: 50%;
                                float: left;
                                box-sizing: border-box;
                                padding: 0 10px;
                                >div{
                                    line-height: 35px;
                                    border-bottom: 1px solid #EEE;
                                    color: #586fab;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    &::before{
                                        content:"â—";
                                        color: #fbc344;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                    >div.more{
                        position: absolute;
                        right: 20px;
                        top: 25px;
                    }
                    >.el-tabs{
                        height:185px;
                    }
                    .search-form{
                        padding:15px 0;
                    }
                }
                &:last-child{
                    padding-right:0 !important;
                }
                ::v-deep .el-tabs{
                    .el-tabs__header{
                        margin:0;
                        .el-tabs__item{
                            font-size: 16px;
                            &.is-active{
                                font-weight:bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dashboard {
    &-score {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 214px;
        .dot {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #f37f24;
            border-color: #ffd8a5;
            color: #FFF;
            font-weight: bold;
            transform: scale(1.15);
            z-index: 1;
            width: 120px;
            height: 120px;
            font-size: 20px;
            border-radius: 50%;
            text-align: center;
            border: 3px solid #efefef;
            cursor: pointer;
            transition: all .3s;
            i {
                margin-bottom: 5px;
            }
        }

    }
}
.col-50 .content label{
    line-height: 40px;
}